body{
    font-family: system-ui;
}
header{
    background-image: url(Tienda.jpg);
    background-size: auto;
   
    
    padding-top: 0px;
    padding-bottom: 200px;
    box-shadow: 0 7px 8px -3px grey;
    width: 100%;
    margin-top: 0px;
    z-index: 99;
}
.menu{
    background-color: #c3c3c3;
}
.container{
    max-width: 1200px;
    text-align: center;
    margin: auto;
}
#panel, #flip1, #flip2 {
    padding: 5px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
  }
  
  #panel {
    padding: 50px;
    display: none;
  }
#titulo,#titulo-foto{
    background-color: #c3c3c3;
    font-size: xx-large;
}
