body{
    font-family: system-ui;
}
header{
    background-image: url(../Image/Tienda.jpg);
    background-size: auto;
    padding-top: 80px;
    padding-bottom: 18px;
    box-shadow: 0 7px 8px -3px grey;
    position: fixed;
    width: 100%;
    margin-top: -10px;
    z-index: 99;
}
.navbar-nav {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  li{
    background-color: #c50f0f;
    text-align: center;
    display: flex;
    justify-content: center;
}
ul{
    align-items: center;
    display: flex;
    justify-content: center;
    list-style: none;
}

  
#menu1{
   display: flex;
}
.integrante{
    text-decoration: underline !important;
    color: rgb(255, 255, 255) !important;
}


body{
    
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

}
/*agregar*/
.container{
    max-width: 1200px;
    text-align: center;
    margin: auto;
}
.header-section{
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    position: relative;
}
.header-section div{
    position: relative;
}
/*numero arriba del carrito*/
.header-section p{
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #ffffff;
    padding: 1px 6px;
    border-radius: 50%;
    color: red;
    font-weight: 700;
    font-family: system-ui;
    line-height: 18px;
}
/*tamaño*/
.logo{
    width: 164px;
    height: 84px;

}
/*tamaño*/
.cart{
    width: 40px;
    height: 40px;
}
/*lugar que ocupa ventana nueva de carrito con productos*/
.cart-products{
    position: absolute!important;
    top: -20%;
    right: -5%;
    background-color: #fff;
    padding: 0 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    display: none;

    min-width: 0px;
}

.cart:hover{
    margin-bottom: 0px;
    transition-duration: .5s;
}
/*lista de productos*/
.products{
    padding-top: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.carts{
    max-width: 250px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    padding-bottom: 34px;
    margin-bottom: 40px;
}
.carts img{
    width: 100%;
}
/*letra de los fideos*/
.carts p{
    font-family: system-ui;
    font-weight: 1000;
    padding: 0 50px;
    margin-top: 25px;
    margin-bottom: 24px;
}
/*rectangulo con precio*/
.carts div p{
    position: absolute;
    top: 0;
    left: 0px;
    background-color: rgb(43, 167, 111);
    color: #fff;
    padding: 2px 7px 4px 21px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 0%);
}
.carts div{
    position: relative;
}
.carts a{
    font-family: system-ui;
    text-decoration: none;
    background: red;
    padding: 9px 23px;
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 700;
}
/*cambia el color de agregar cuando le pasas por arriba*/
.carts a:hover{
    background: #fff;
    color: red;
    border: solid 2px red;
    transition-duration: .3s;
}


.cart-products .item img{
    width: 20%;
}

.cart-products .item{
    display: flex;
    align-items: center;
    border-bottom: solid 2px rgb(0, 0, 0);
}
.cart-products .item .item-content{
    margin: 0 10px;
    width: 150px;
}
/*letra de adentro del carrito*/
.cart-products .item .item-content h5{
    margin: 0;
    font-size: 13px;
    font-weight: 400;
    font-family: system-ui;
}
.cart-products .item .item-content h6{
    margin: 0;
    font-size: 13px;
    font-weight: 400;
    font-family: system-ui;
}

.cart-products h3{
    margin-bottom: 0;
}
.cart-products .item .item-content h5.cart-price{
    font-weight: 700;
}

/*boton de cerrar carrito*/
p.close-btn{
    top: 8px;
    right: 6px;
    cursor: pointer;
    color: #000;
}

footer{
    background-color: rgb(61, 49, 49);
    padding: 0px;
}
.centrar{
    justify-content: center;
    text-align: center;
}
.redondear{
    scale:30%;
    border-radius: 60%;
}