body{
    font-family: system-ui;
}
header{
    background-image: url(../Image/Tienda.jpg);
    background-size: auto;
    padding-top: 0px;
    padding-bottom: 200px;
    box-shadow: 0 7px 8px -3px grey;
    width: 100%;
    margin-top: 0px;
    z-index: 99;
}
.navbar-nav {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
li{
    background-color: #c50f0f;
    text-align: center;
    display: flex;
    justify-content: center;
}
.container{
    max-width: 1200px;
    text-align: center;
    margin: auto;
}
a {
    color: black !important;
    text-decoration: none !important; /* Elimina el subrayado */

  }
#flip1, #flip2 {
    padding: 50px;
    text-align: center;
    background-color: #a3b66a;
    border: solid 1px #c3c3c3;
    
  }
  
  #panel {
    padding: 50px;
  }
#titulo,#titulo-foto{
    background-color: #c3c3c3;
    font-size: xx-large;
}
body{
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

}
h3, h4, p, #containerGeneral{
    align-items:center;
    padding:40px;
    margin: 0px;
}
#divImg_1{
    align-items:left;
    padding:40px;
   max-width: 450px;
   max-height: 500px;
}
#divImg_2{
    padding:00px;
   max-width: 300px;
   max-height: 300px;
}
/*imagen de integrantes*/
#divImg_3{
    align-items:left;
    padding:40px;
   max-width: 300px;
   max-height: 300px;
}

#title_1, #title_2, #title_3{
    display: flex;
    justify-content: center;
    background-color: #335b86;
    border-radius: 100px;
    box-shadow: 0px 0px 10px 10px #cabdbd;

}

#title_2, #title_3{
    justify-content: start;
    padding: 20px;
}
#ubicacion{
    text-align: center;
    padding-bottom: 15px;
}
footer{
    background-color: rgb(61, 49, 49);
    padding: 0px;
}
.redondear{
    scale:30%;
    border-radius: 60%;
}
ul{
    align-items: center;
    display: flex;
    justify-content: center;
    list-style: none;
}

  
#menu1{
   display: flex;
}
.integrante{
    text-decoration: underline !important;
    color: rgb(255, 255, 255) !important;
}
h5{
    font-size: x-small;
    text-align: center;
    color: rgb(255, 255, 255);
}
